body {
  font-family: Verdana, Helvetica, Arial, Sans-Serif;
  font-size: 11px;
  background-color: color-background;
  background-image: url('../images/bg.png');
}

#sblog_root {
  background-image: url('../images/bg_div.png');
  background-position: center center;
  background-repeat: repeat-y;
  width: page-width
  margin: auto;
}

#sblog_head {
  background-image: url('../images/bg_div_t.png');
  background-position: top center;
  background-repeat: no-repeat;
  padding: 20px 0px 0px 0px;
}

#sblog_body {
  margin: 0px;
  padding: 10px 20px 0px 20px;
  overflow: hidden;
  clear: both;
}

#sblog_foot {
  background-image: url('../images/bg_div_b.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 20px;
  clear: both;
}

#sblog_copy {
  color: #999;
  text-align: center;
  padding: 20px 0px 4px 0px;
  clear: both;
}

#sblog_main {
  margin: 0px 0px 0px 150px;
  width: main-width;
}
