#sblog_block_body {
	float: left;
	width: 140px;
}

.sblog_block {
	margin: 0px 0px 10px 0px;
}

.sblog_block_topic {
	border-bottom: 1px #69C solid;
	padding: 4px 0px 0px 0px;
}

.sblog_block_topic h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: #369;
}

.sblog_block_text {
	padding: 4px;
	background-image: url('../images/bg_block.png');
	background-position: top center;
	background-repeat: repeat-x;
	padding: 4px 0px 10px 4px;
}
