table.sblog_cal {
  background-image: url('../images/bg_block.png');
  background-position: top center;
  background-repeat: repeat-x;
  width: 100%;
  margin: 0px 0px 10px 0px;
  color: #CCC;
}

td {
  &.sblog_cal_header {
    text-align: center;
  }

  &.sblog_cal {
    text-align: center;
    color: #369;
  }

  &.sblog_cal_empty {
  }

  &.sblog_cal_day {
    text-align: center;
    font-size: 1em;
    height: 20px;
  }

  &.sblog_cal_today {
    color: #000;
    background-color: #FFF;
    background-image: url('../images/cal_today.png');
    background-position: top left;
    background-repeat: no-repeat;
    text-align: center;
  }

  &.sblog_cal_active {
    background-color: #FFF;
    background-image: url('../images/cal_active.png');
    background-position: top left;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1em;
  }

}
