img {
  border-width: 0px;
  margin: 0px;
}

.sblog_image {
  background-color: #F0F0F0;
  border: 1px #CCC solid;
  margin: 0px 0px 10px 0px;
  padding: 4px;
  width: 440px;
  overflow: hidden;
}

.sblog_image_info {
  margin: 0px 0px 0px 130px;
}

.sblog_image_tn {
  float: left;
}
