a {
  color: color-link;
  text-decoration: none;
  &:hover {
    color: color-font;
    text-decoration: underline;
  }
}

a.sblog_post_options_link_comments,
a.sblog_post_options_link_perma,
a.sblog_post_options_link_trackback,
a.sblog_post_options_link_delete,
a.sblog_post_options_link_edit,
a.sblog_comment_options_link {
  padding-right: 4px;
}

a.sblog_post_options_link_perma {
  background-image: url('../images/ico_permalink.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_permalink_h.png');
    background-position: center left;
    background-repeat: no-repeat;
  }
}

a.sblog_post_options_link_comments {
  background-image: url('../images/ico_comments.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_comments_h.png');
    background-position: center left;
    background-repeat: no-repeat;
  }
}

a.sblog_post_options_link_trackback {
  background-image: url('../images/ico_trackback.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_trackback_h.png');
    background-position: center left;
    background-repeat: no-repeat;
  }
}

a.sblog_post_options_link_delete {
  background-image: url('../images/ico_delete.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_delete_h.png');
    background-position: center left;
    background-repeat: no-repeat;
  }
}

a.sblog_post_options_link_edit {
  background-image: url('../images/ico_edit.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_edit_h.png');
    background-position: center left;
    background-repeat: no-repeat;
  }
}

a.help {
  cursor: help;
  font-weight: bold;
  color: #090;
}

.sblog_block_text a.sblog_admin_posts {
  background-image: url('../images/ico_edit.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_edit_h.png');
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 14px;
  }
}

.sblog_block_text a.sblog_admin_images {
  background-image: url('../images/ico_images.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_images_h.png');
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 14px;
  }
}

.sblog_block_text a.sblog_admin_categories {
  background-image: url('../images/ico_categories.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_categories_h.png');
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 14px;
  }
}

.sblog_block_text a.sblog_admin_links {
  background-image: url('../images/ico_permalink.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_permalink_h.png');
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 14px;
  }
}

.sblog_block_text a.sblog_admin_censoring {
  background-image: url('../images/ico_comments.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  :hover {
    background-image: url('../images/ico_comments_h.png');
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 14px;
  }
}

.sblog_block_text a.sblog_admin_blocks {
  background-image: url('../images/ico_blocks.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_blocks_h.png');
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 14px;
  }
}

.sblog_block_text a.sblog_admin_static {
  background-image: url('../images/ico_static.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_static_h.png');
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 14px;
  }
}

.sblog_block_text a.sblog_admin_settings {
  background-image: url('../images/ico_settings.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_settings_h.png');
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 14px;
  }
}

.sblog_block_text a.sblog_admin_menu {
  background-image: url('../images/ico_menu.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_menu_h.png');
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 14px;
  }
}

.sblog_block_text a.sblog_admin_logout {
  background-image: url('../images/ico_logout.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  &:hover {
    background-image: url('../images/ico_logout_h.png');
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 14px;
  }
}

#sblog_copy a {
  color: #999;
  text-decoration: underline;
  &:hover {
    color: #000;
  }
}

a.sblog_external {
  background-image: url('../images/external.png');
  background-position: center right;
  background-repeat: no-repeat;
  padding: 0px 14px 0px 0px;
}
