span.hilite {
  background-color: #FCC;
}

.sblog_tag,
.sblog_category {
  color: #69C;
  font-size: 1em;
}

.sblog_quote {
  border: 1px #CCC dashed;
  padding: 4px;
}

.sblog_line {
  border-bottom: 1px #CCC dotted;
}

.sblog_code {
  border-style: solid;
  border-width: 1px;
  border-color: #CCC #FFF #FFF #CCC;
  padding: 10px;
  background-color: #F0F0F0;
  color: #000;
}

h1, h2 {
  margin: 0px;
  font-size: 1em;
  font-weight: normal;
}

span.sblog_censor {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: #F00;
}
