#sblog_menu {
  overflow: hidden;
  background-image: url('../images/bg_menu.png');
  background-position: bottom center;
  background-repeat: repeat-x;

  ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: auto;
    margin-right: auto;
    width: 630px;
  }

  li {
    float: left;
    padding: 0px;
    margin: 0px;
    background-image: url('../images/menu_bg_right.png');
    background-position: top right;
    background-repeat: no-repeat;
  }

  .sblog_menu_current {
    float: left;
    margin: 0px;
    padding: 0px;
    background-image: url('../images/menu_bg_right_h.png');
    background-position: top right;
    background-repeat: no-repeat;
  }

  a {
    display: block;
    color: #69C;
    background-image: url('../images/menu_bg_left.png');
    background-position: top left;
    background-repeat: no-repeat;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px #999 solid;
  }

  .sblog_menu_current a {
    display: block;
    color: #000;
    background-image: url('../images/menu_bg_left_h.png');
    background-position: top left;
    background-repeat: no-repeat;
    padding: 5px 10px 6px 10px;
    border-bottom-width: 0px;
  }
}
