#sblog_page_title {
  text-align: center;
}

#sblog_page_title a {
  font-size: 2.4em;
  font-weight: bold;
  color: color-font;
  &:hover {
    text-decoration: none;
  }
}

#sblog_page_description {
  text-align: center;
}

#sblog_page_description  h2 {
  font-weight: normal;
  color: #999;
}
.sblog_pages {
  background-image: url('../images/bg_pages.png');
  background-position: top center;
  background-repeat: repeat-x;
  border-top: 1px #CCC solid;
  padding: 4px;
}

.sblog_pages_prev {
  float: left;
  width: 140px;
  text-align: left;
}

.sblog_pages_current {
  width: 50px;
  text-align: center;
  margin: auto;
}

.sblog_pages_next {
  float: right;
  width: 140px;
  text-align: right;
}
